<div class="contenedor-header">
    <div class="tab" [class.active]="selectedTab === 'tab1'" (click)="selectTab('tab1')">Registro de Inventarios</div>
    <div class="tab" [class.active]="selectedTab === 'tab2'" (click)="selectTab('tab2')">Entrega de Inventario</div>
    <div class="tab" [class.active]="selectedTab === 'tab3'" (click)="selectTab('tab3')">Crear Producto</div>
</div>