.contenedor-header {
    display: flex;
    justify-content: center;
    height: 3rem;
    border-bottom: 1px black solid;
    .tab {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        color: black;
        height: 3rem;
        cursor: pointer;
    }
    .active {
        color: #0d6efd;
        border-bottom: 1px #0d6efd solid;
    }
}