<div class="contenedor-registro">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
    <h1 class="titulo-registro">{{tituloTab}}</h1>
    <form *ngIf="selectedTab == 'tab1'" class="formulario-registro" [formGroup]="formularioRegistoInv">
        <input class="input-completo" type="text" id="usuario" formControlName="usuario" placeholder="Nombre de Usuario" required>
        <div class="input-row">
            <select class="select-product" id="producto" formControlName="producto" placeholder="Producto" required>
                <option value=null disabled selected hidden>Producto</option>
                <option *ngFor="let producto of productos" value={{producto.nombre}}>{{producto.nombre}}</option>
            </select>
            <input class="input-serie" type="number" id="numero_serie" formControlName="numeroSerie" placeholder="Número de Serie" required>
        </div>
        <input class="input-completo input-fecha" type="date" formControlName="fecha">
        <button class="input-completo boton" type="submit" (click)="guardarInventarios()">Guardar y enviar</button>
    </form>
    <div class="contenedor-card-inventario" *ngIf="selectedTab == 'tab2'">
        <div class="card-inventario" *ngFor="let inventarioRegistrado of inventariosRegistrados">
            <p class="texto-desc">{{inventarioRegistrado.producto}}</p>
            <p class="texto-desc">{{inventarioRegistrado.numeroSerie}}</p>
            <button (click)="cambiarEstado(inventarioRegistrado.estado, inventarioRegistrado.id)" [ngClass]="inventarioRegistrado.estado === 'Entregar' ? 'boton-entregar' : 'boton-entregado'">{{inventarioRegistrado.estado}}</button>
        </div>
    </div>
    <form *ngIf="selectedTab == 'tab3'" class="formulario-registro" [formGroup]="formularioProducto">
        <input class="input-completo" type="text" id="producto" formControlName="producto" placeholder="Nombre de Producto" required>
        <button class="input-completo boton" type="submit" (click)="guardarProducto()">Guardar y enviar</button>
    </form>
</div>
<app-modal [showModal]="showModal" (hideModal)="hideModal()">
    <h2 *ngIf="modalType === 'success'">Exitosa</h2>
    <h2 *ngIf="modalType === 'error'">Error</h2>
    <p *ngIf="modalType === 'success'">La operación se realizó con éxito.</p>
    <p *ngIf="modalType === 'error'">{{mensajeError}}</p>
</app-modal>