.contenedor-registro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo-registro{
        margin-top: 5rem;
    }
    .formulario-registro{
        width: 40%;
        .input-completo{
            width: 100%;
            height: 2.5rem;
            margin: 1rem 0;
            border-radius: 5px;
            border: none;
            padding: 0 1rem;
            font-size: medium;
        }
        .input-fecha{
            font-size: medium;
            font-family: 'arial';
        }
        .boton{
            width: calc(100% + 2rem);
            background-color: #0d6efd;
            color: white;
        }
        .input-row{
            width: calc(100% + 2rem);
            display: flex;
            justify-content: space-between;
            .select-product{
                width: 38%;
                height: 2.5rem;
                background-color: #6c757d;
                color: white;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: medium;
            }
            .input-serie{
                width: 56%;
                height: 2.5rem;
                border-radius: 5px;
                padding: 0 1rem;
                border: none;
                font-size: medium;
            }
        }
    }
    .contenedor-card-inventario{
        width: 100%;
        height: 60%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-inventario{
            width: 40%;
            height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            background-color: white;
            margin-bottom: 1rem;
            border-radius: 5px;
            .texto-desc{
                margin: 0;
            }
            .boton-entregar{
                width: 100%;
                height: 2.5rem;
                background-color: #0d6efd;
                color: white;
                border-radius: 5px;
                border: none;
                font-size: medium;
            }
            .boton-entregado{
                width: 100%;
                height: 2.5rem;
                background-color: #1a8754;
                color: white;
                border-radius: 5px;
                border: none;
                font-size: medium;
            }
        }
    }
    .contenedor-card-inventario::-webkit-scrollbar {
        width: 5px;
    }
      
    .contenedor-card-inventario::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
      
    .contenedor-card-inventario::-webkit-scrollbar-thumb {
        background: #888;
    }
      
    .contenedor-card-inventario::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}