/* modal.component.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 20px;
        width: 40%;
        .boton-accion{
            width: 30%;
            height: 2rem;
            background-color: #0d6efd;
            color: white;
            border: none;
            border-radius: 5px;
        }
    }
}