<div [ngStyle]="{'display': showModal ? 'block' : 'none'}" class="modal">
    <div class="modal-content">
      <ng-content></ng-content>
      <button class="boton-accion" (click)="close()">Aceptar</button>
    </div>
</div>