html, body{
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

.page-style{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins';
    background-color: #c2dbfe;
}